<!--<div>
  <form *ngIf="!registered" (ngSubmit)="onSubmit()" #registerForm = "ngForm">
    <h2>Register User</h2>
    <div>
      <label>* Name</label>
      <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName" ngControl="firstName" required>
      <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName" ngControl="lastName" required>
    </div>
    <div>
      <label>* Username/Password</label>
      <input type="text" name="userName" placeholder="User Name" [(ngModel)]="newUser.userName" ngControl="userName" required>
      <input type="password" name="password1" placeholder="Password" [(ngModel)]="newUser.password" ngControl="password1" required>
      <input type="password" name="password2" placeholder="Repeat Password" ngControl="password2" required>
    </div>
    <button type="submit" [disabled]="!registerForm.form.valid">Register</button>
  </form>
</div>
-->
<div class="container">
  <form class="ui form" *ngIf="!registered" (ngSubmit)="onSubmit()" #registerForm = "ngForm" novalidate>
    <h4 class="ui dividing header">Register User</h4>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName" ngControl="firstName" required>
        </div>
        <div *ngIf="registerForm?.controls?.firstName?.hasError('required')">
          Pflichtfeld
        </div>
        <div class="field">
          <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName" ngControl="lastName" required>
        </div>
        <div *ngIf="registerForm?.controls?.lastName?.hasError('required')">
          Pflichtfeld
        </div>
      </div>
    </div>
    <div class="field">
      <label>UserName</label>
    </div>
    <div class="field">
      <input type="text" name="userName" placeholder="User Name" [(ngModel)]="newUser.userName" ngControl="userName" required>
    </div>
    <div *ngIf="registerForm?.controls?.lastName?.hasError('required')">
      Pflichtfeld
    </div>
    <div class="field">
      <label>Password</label>
      <div class="field">
        <div class="field">
          <input [(ngModel)]="newUser.password"
                 type="password"
                 name="password"
                 pwd="1234, 0000, 2580, hallo"
                 placeholder="Password"
                 ngControl="password1"
                 required
                 minlength="4">
        </div>

        <div *ngIf="registerForm?.controls?.password?.hasError('required')">
          Pflichtfeld
        </div>
        <div *ngIf="registerForm?.controls?.password?.hasError('minlength')">
          Bitte mindestens 4 Zeichen eingeben!
        </div>
        <div *ngIf="registerForm?.controls?.password?.hasError('pwd')">
          Dieses Passwort wird aus Sicherheitsgründen nicht erlaubt!
        </div>


        <div class="field">
          <label>Repeat Password</label>
          <input
            type="password"
            name="password_"
            placeholder="Repeat Password"
            ngControl="password2"
            required
            minlength="4">
        </div>
        <div *ngIf="registerForm?.controls?.password_?.hasError('required')">
          Pflichtfeld
        </div>
      </div>
    </div>
    <button class="ui secondary button" type="submit" [disabled]="!registerForm.form.valid">Register</button>
  </form>
  <!-- when registered succesfully -->
  <div *ngIf="registered" >
    <h2>Registered succesfully!</h2>
  </div>
</div>

