<div class="container" *ngIf="!userEdited">
  <form class="ui form"  #editUserForm = "ngForm">
    <h4 class="ui dividing header">Edit User</h4>
    <div class="field">
      <label>Firstname</label>
      <div class="field">
        <input type="text" name="firstName" placeholder="Firstname" [(ngModel)]="user.firstName">
      </div>
    </div>
    <div class="field">
      <label>Lastname</label>
      <div class="field">
        <input type="text" name="lastName" placeholder="Lastname" [(ngModel)]="user.lastName">
      </div>
    </div>
    <button class="ui secondary button" (click)="edit(user)" type="submit" [disabled]="!editUserForm.form.valid">Edit User</button>

  </form>
  <div class="ui divider"></div>
  <button class="ui secondary button" (click)="delete(user)">Delete User</button>
</div>

<!-- when message edited succesfully -->
<div class="container">
  <div *ngIf="userEdited">
    <h2>You changed your Userdetails succesfully!</h2>
  </div>
</div>
