<div class="container" *ngIf="!messageDeleted">
  <div>
    <div class="ui text container center aligned">
        <button class="ui secondary button" routerLink="/add-message" routerLinkActive="active">Add Message</button>
    </div>
    <div *ngFor="let m of messages" class="ui raised very padded text container segment" >
    <div  (click)="onSelect(m)">
      <h2 class="ui header">{{m.messageTitle}}</h2>
      <p>{{m.likes}}</p>
      <p>{{m.messageContent}}</p>
      <p>----------------------------------------------</p>
    </div>
      <button (click)="onDelete(m)">DELETE</button>
      <button (click)="onEdit(m)">Edit</button>
    </div>
  </div>

</div>

<!-- when message delete succesfully -->
<div *ngIf="messageDeleted">
  <h2>Message Deleted!</h2>
</div>

<!--
<div class="container">
  <div class="ui raised very padded text container segment">
    <span *ngFor="let m of messages" >
      <h1 class="ui header">{{message.messageTitle}}</h1>
      <p>{{message.messageContent}}</p>
    </span>
  </div>
</div>
-->
